{% extends 'theme/base.html' %}

{% block main %}
    
    
        <div class="container" style="padding: 50px;">
            <form action="/fvmail" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter Verification Code</label>
                  <input required name="code" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Code">
                  <small id="emailHelp" class="form-text text-muted">Enter Verification Code that We Send On Your Email.</small>
                </div>
                <input type="hidden" value="{{code}}" name="ccode">
                {% csrf_token %}
                <!-- <a href="/fvmail"><button type="submit" class="btn btn-primary rounded-0">Resend</button></a> -->
                <button type="submit" class="btn btn-success rounded-0">Verify</button>
<br>
<br>
                <a href="/">Go Back..</a>

              </form>
        </div>


        {% endblock main %}
