{% extends 'theme/base.html' %}

{% block title %}

{% endblock title %}

{% load static %}
{% block main %}

{% load custom_filters %}





<script src="{% static 'assets/js/cal.js' %}"></script>

<div class="filter-mob text-center" data-mdb-toggle="modal" data-mdb-target="#exampleModal"><span>Profile Fileter
        <span class="fa fa-filter"></span></div>

<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="filter my-5 mx-0">

                <form>
                    <label class="form-label"><span class="fa fa-search"></span> I'm looking for</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>I'm looking for</option>
                        <option value="1">Men</option>
                        <option value="2">Women</option>

                    </select>
                    <label class="form-label"><span class="fa  fa-clock-o"></span> Age</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>Select Age</option>
                        <option value="1">22-30</option>
                        <option value="1">30-35</option>
                        <option value="1">35-40</option>
                        <option value="1">40-50</option>



                    </select><label class="form-label"><span class="fa fa-bell-o"></span> Select Religion</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>Religion</option>
                        <option value="1">Any</option>

                    </select>
                    <label class="form-label"><span class="fa fa-globe"></span> Location</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>Pune</option>
                        <option value="1">nanded</option>
                        <option value="2">beed</option>
                        <option value="2">parali</option>
                        <option value="2">nagpur..</option>
                    </select>
                </form>

            </div>
        </div>
        <div class="col-md-9 profileare">
            <div class="upper py-5">
                <div class="end">
                    <div class="d-inline head1 h5">Showing <span
                            style="font-weight: bold; font-family: roboto;">32</span>
                        Profiles</div>
                </div>
                <div class=" head1mob text-center h5">Showing <span
                        style="font-weight: bold; font-family: roboto;">32</span>
                    Profiles</div>

                <div class="end">
                    <div class="d-inline h5 float-end">
                        <div class="d-inline h5">short by :</div>
                        <select>
                            <option>Most Relative</option>
                        </select>

                        <span class="fa fa-th "></span>
                        <pan class="fa fa-bars "></pan>
                    </div>
                </div>
                <hr class="hr my-4" />
            </div>

            <div class="cardarea">

                {% for m in all_profiles %}
                <a href="show_profile/{{m.user.id}}">
                <div class="card mb-3">
                    <div class=" row g-0">
                        <div class="col-md-4">
                            <img src="
                                
                                {% if m.user.media.dp.url %}
                                {{m.user.media.dp.url}}
                                {% else %}
                                https://www.personality-insights.com/wp-content/uploads/2017/12/default-profile-pic-e1513291410505.jpg
                                {% endif %}
                                    
                                " alt="dp-{{m.user.first_name}}" class="img-fluid rounded-start profile-img" />

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">

                                <div class="like">
                                    <span class="fa fa-thumbs-o-up"></span>

                                </div>
                                <h5 class="card-title">{{m.user.first_name}} {{m.user.last_name}}</h5>
                                <div class="card-text text-row" >
                                <div class="row" >
                                    <div class="col">
                                        <span class="fa fa-graduation-cap"></span><span> {{m.Qualification}}</span>
                                    </div>
                                    <div class="col">
                                        <span class="fa fa-briefcase "></span><span> {{m.work}}</span><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="fa fa-user"></span><span> Male
                                          
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="fa fa-calendar"></span>
                                        {% if m.age %}
                                        {{m.age}} Years
                                        {% else %}
                                        ---
                                        {% endif %}
                                    </div>
                                   
                                </div>
                                <div class="row">
                                  
                                    <div class="col">
                                        <span class="fa fa-ring"></span><span> {{m.marrital_status}}</span>

                                    </div>

                                    <div class="col">
                                        
                                        <span class="fa fa-filter"></span>Matching  {% with id=m.id cuid=request.user.profile.id %}{{ id|custom_filters:cuid }}{% endwith %}%
                                        

                                    </div>

                                    
                                  
                                </div>

                                <div class="row">
                                    <div class="col">

                                        <span class="fa fa-long-arrow-up "></span><span> {{m.height}}</span>
                                    </div>
                                    <div class="col">

                                        <span class="fa fa-location-arrow"> </span><span> {{m.city}}</span>
                                    </div>
                                </div>

                                </div>
                                <hr class="hr" />
                                <p class="card-text">
                                    <span class="tags">chat now</span>
                                    <span class="tags">watsapp</span>
                                    <span class="tags">send Interest</span>
                                    <span class="tags">more..</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
                {% endfor %}


            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Filer</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <label class="form-label"><span class="fa fa-search"></span> I'm looking for</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>I'm looking for</option>
                        <option value="1">Men</option>
                        <option value="2">Women</option>

                    </select>
                    <label class="form-label"><span class="fa  fa-clock-o"></span> Age</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>Select Age</option>
                        <option value="1">22-30</option>
                        <option value="1">30-35</option>
                        <option value="1">35-40</option>
                        <option value="1">40-50</option>



                    </select><label class="form-label"><span class="fa fa-bell-o"></span> Select Religion</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>Religion</option>
                        <option value="1">Any</option>

                    </select>
                    <label class="form-label"><span class="fa fa-globe"></span> Location</label>
                    <select class="form-select my-2" aria-label="Default select example">
                        <option selected>Pune</option>
                        <option value="1">nanded</option>
                        <option value="2">beed</option>
                        <option value="2">parali</option>
                        <option value="2">nagpur..</option>
                    </select>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<style>
    a{
        color: #601e4f;
    }
    a:hover{
        color: #601e4f;

    }
</style>

{% endblock main %}