{% extends "theme/base.html" %}

{% block main %}


<div class="container my-5">
    <ul class="list-group list-group-light">
       
        {% for fi in follow_instance  %}
        <li class="list-group-item px-3 border-0 rounded-3 list-group-item-light mb-2">You Have Follow Request From : <strong>{{fi.ufrom.first_name}}  {{fi.ufrom.last_name}} </strong>  <a href="/follow_accept/{{fi.ufrom.id}}"> <button class="btn btn-success btn-sm float-end" > Aceept</button></a>  <a href="/follow_reject/{{fi.ufrom.id}}"><button class="btn btn-danger mx-2 btn-sm float-end">  Reject </button></a></li>
      
        {% endfor %}
      
      </ul>
</div>


{% endblock main %}


