{% extends 'theme/base.html' %}

{% block title %}

{% endblock title %}

{% load custom_filters %}
{% load static %}

{% block main %}




<div class="container p-0 ">
    <div class="row">
        <div class="col-md-5 my-5 px-0 ">
            <div class="mainx">
                <div id="carouselExampleInterval" class="carousel slide" data-mdb-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="10000">
                            <img src="{{profile.user.media.dp.url}}" data-mdb-toggle="modal" data-mdb-target="#imgzoom"
                                class="d-block w-100" alt="" />
                        </div>

                        {% for gallery in gallery %}
                        <div class="carousel-item" data-mdb-interval="2000">
                            <img src="{{gallery.img.url}}" class="d-block w-100" alt="{{media.user}}"
                                data-mdb-toggle="modal" data-mdb-target="#imgzoom-{{ forloop.counter }}" />
                        </div>
                        {% endfor %}



                    </div>
                    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button"
                        data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button"
                        data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>



                <div class="scrol_tab">
                    <div class="left-arrow fafa" onclick="leftFunction()"><span class="fa fa-chevron-left"></span>
                    </div>
                    <ul id="srolltab">

                        <!-- <li>
                            <a href="/blog" {% if request.get_full_path == '/blog' %} class="activetab"  {% endif %}>All</a>       
                        </li> -->

                        <li>
                            <div class="col" data-mdb-target="#carouselExampleInterval" data-mdb-slide-to="0"><img
                                    src="{{profile.user.media.dp.url}}" style=" max-height: 100px;" /></div>
                        </li>

                        {% for gallery in gallery %}
                        <li>
                            <div class="col" data-mdb-target="#carouselExampleInterval"
                                data-mdb-slide-to="{{ forloop.counter }}"><img src="{{gallery.img.url}}"
                                    style="max-height: 100px;" /></div>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="right-arrow fafa" onclick="myFunction()"><span class="fa fa-chevron-right"></span>
                    </div>
                </div>

                <div class="bigbtns">
                    <span class="btn mx-0 btn-lg  btn-warning">Message</span>

                    {% if follow_instance %}
                        {% if follow_instance.status|lower == "requested" %}
                        <span class="btn mx-0 btn-lg btn-danger"> <span class="fa fa-clock"></span> Requested</span>
                        {% elif follow_instance.status|lower == "unfollowed" %}
                        <span class="btn mx-0 btn-lg btn-danger" onclick="window.location.href='/follow/{{ profile.user.id }}'"> <span class="fa fa-heart"></span> Follow</span>
                        
                        {% elif follow_instance.status|lower == "followed" %}
                        <span class="btn mx-0 btn-lg btn-danger" onclick="window.location.href='/unfollow/{{ profile.user.id }}'"> <span class="fa fa-heart-broken"></span> Unfollow</span>
                        {% elif follow_instance.status|lower == "rejected" %}
                            <span class="btn mx-0 btn-lg btn-dark"> <span class="fa fa-heart-broken"></span> Rejected</span>
                        
                        {% endif %}
                    {% else %}
                        <span class="btn mx-0 btn-lg btn-danger" onclick="window.location.href='/follow/{{ profile.user.id }}'"> <span class="fa fa-heart"></span> Follow</span>
                    {% endif %}



                </div>


            </div>
        </div>


        <div class="col-md-7 m-0 p-0">
            <div class="container  my-5 bio">
                <h1 class="h1">{{profile.user.first_name}} {{profile.user.last_name}}</h1>
                <div class="online">
                    <span class="viewers bg-warning text-white">{{profile.views}} viewers</span>
                    <span class="onlinenow bg-success text-white">Online Now</span>

                </div>
                <div class="buttons my-3">
                    <a href="/chat/{{profile.user.username}}"><div class="d-inline "><button class="btn btn-outline-primary"> message</button></div></a> 
                    <a href="/chat/{{profile.user.username}}"><div class="d-inline "><button class="btn btn-outline-primary"> connect now</button></div></a>
                    <div class="d-inline "><button class="btn btn-outline-primary"> report</button></div>
                    <a href="/chat/{{profile.user.username}}"> <div class="d-inline "><button class="btn btn-outline-primary"> send Interest</button></div></a>

                </div>

                <div class="infohead">
                    <span onclick="info1()" class="fa fa-chevron-down float-end "></span>
                    <p>Personal Details</p>

                </div>
                <div class="infodata">
                    <div class="points" id="info1">
                        <div class="row">
                            <div class="col-md">

                                <span class="fa fa-graduation-cap"></span><span
                                    id="qual">{{profile.Qualification|sort_filter}} </span>
                            </div>
                            <div class="col-md">
                                <span class="fa fa-briefcase "></span><span>{{profile.work}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <span class="fa fa-calendar"></span><span>{{profile.age}} Years</span>
                            </div>
                            <div class="col-md">

                                <span class="fa fa-long-arrow-up "></span><span> {{profile.height}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <span class="fa fa-ring"></span><span>{{profile.marrital_status}}</span>
                            </div>
                            <div class="col-md">

                                <span class="fa fa-filter "></span><span>Matching {% with id=profile.id cuid=request.user.profile.id %}{{ id|custom_filters:cuid }}{% endwith %}%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <span class="fa fa-location-arrow"> </span><span>{{profile.city}}</span>
                            </div>
                        </div>

                        </p>
                        <hr class="hr" />
                        <b>About</b>
                        <p>
                            {{profile.about_me}}</p>
                        <hr class="hr" />

                    </div>

                    <div class="container p-0 m-2">
                        <div class="row">
                            <div class="col-md">
                                <strong>Name: </strong>{{profile.user.first_name}} {{profile.user.last_name}}
                            </div>
                            <div class="col-md">
                                <strong>Gender: </strong>{{profile.gender}} 
                            </div>
                            <div class="col-md">
                                <strong>Marrital Status: </strong>{{profile.marrital_status}} 
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <strong>Height: </strong>{{profile.height}} 
                            </div>  
                            <div class="col-md">
                                <strong>Color: </strong>{{profile.color}} 
                            </div>
                            <div class="col-md">

                                <strong>Qualification : </strong><span class="qual"> {{profile.Qualification|sort_filter}} </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <strong>Work: </strong>{{profile.work}} 
                                
                            </div>
                            <div class="col-md">
                                <strong>Experience: </strong>{{profile.experience}} 
                            </div>
                            <div class="col-md">
                                <strong>Hobbies: </strong>{{profile.hobbies}} 

                                <!-- <strong>Qualification : </strong><span id="qual"> {{profile.Qualification}} </span> -->
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md">
                                <strong>Income: </strong>{{profile.income}} 
                                
                            </div>
                            <div class="col-md">
                                <strong>Medical Condition: </strong>{{profile.medical_condition}} 
                            </div>
                            <div class="col-md">
                                <strong>City: </strong>{{profile.city}} 

                                <!-- <strong>Qualification : </strong><span id="qual"> {{profile.Qualification}} </span> -->
                            </div>
                        </div>
                        
                        
                        <hr class="hr" />
                        
                    </div>

                </div>

                <div class="infohead">
                    <span onclick="info2()" class="fa fa-chevron-down float-end "></span>
                    <p>Family Details</p>

                </div>
                <div class="infodata" id="info2">
                    <div class="points">

                        <div class="container p-0 m-2">
                            <div class="row">
                                <div class="col-md">
                                    <strong>Father_name: </strong>{{profile.user.family_details.father_name}} 
                                </div>
                                <div class="col-md">
                                    <strong>Father Education: </strong>{{profile.user.family_details.father_education}} 
                                </div>
                                <div class="col-md">
                                    <strong>Father Occupation : </strong>{{profile.user.family_details.father_occupation}} 
                                </div>
                            </div>
    
                            
                            <div class="row">
                                <div class="col-md">
                                    <strong>Father_name: </strong>{{profile.user.family_details.mother_name}} 
                                </div>
                                <div class="col-md">
                                    <strong>Father Education: </strong>{{profile.user.family_details.mother_education}} 
                                </div>
                                <div class="col-md">
                                    <strong>Father Occupation : </strong>{{profile.user.family_details.mother_occupation}} 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <strong>Sister: </strong>{{profile.user.family_details.sister}} 
                                </div>
                                
                              
                            </div>
                            
                            <div class="row">
                                <div class="col-md">
                                    <strong>Brother: </strong>{{profile.user.family_details.brother}} 
                                </div>
                                
                              
                            </div>

                            <div class="row">
                                <div class="col-md">
                                    <strong>Native Place: </strong>{{profile.user.family_details.native_place}} 
                                </div>
                                
                              
                            </div><div class="row">
                                <div class="col-md">
                                    <strong>Relatives: </strong>{{profile.user.family_details.relatives}} 
                                </div>
                                
                              
                            </div>
                        <hr class="hr" />

                            
                        </div>
                        
                    </div>

                </div>
                

            </div>
           
        </div>

    </div>
</div>



<!-- hideinfo -->
<script>
    function info1() {
        var x = document.getElementById("info1");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function info2() {
        var x = document.getElementById("info2");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<!-- / -->
<style>
    figure.zoom {
        background-position: 50% 50%;
        position: relative;

        max-height: 100%;
        overflow: hidden;
        cursor: zoom-in;
    }

    figure.zoom img:hover {
        opacity: 0;
    }

    figure.zoom img {
        transition: opacity .5s;
        display: block;
        width: 100%;

    }

    figure {

        background-image: url('your-image.jpg');
        /* background-size: 100%; */
        background-repeat: no-repeat;
    }
</style>

<script>
    function zoom(e) {
        var zoomer = e.currentTarget;
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
        x = offsetX / zoomer.offsetWidth * 200
        y = offsetY / zoomer.offsetHeight * 200
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
</script>
<script>
    function myFunction() {
        var element = document.getElementById("srolltab");
        element.scrollLeft += 200;

    }
    function leftFunction() {
        var element = document.getElementById("srolltab");
        element.scrollLeft -= 200;

    }



</script>
<div class="modal  fade" id="imgzoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <figure class="zoom" onmousemove="zoom(event)"
                    style="background-image: url({{profile.user.media.dp.url}})">
                    <img src="{{profile.user.media.dp.url}}" />
                </figure>

            </div>

        </div>
    </div>
</div>



{% for gallery in gallery %}

<div class="modal  fade" id="imgzoom-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <figure class="zoom" onmousemove="zoom(event)" style="background-image: url({{gallery.img.url}})">
                    <img src="{{gallery.img.url}}" />
                </figure>

            </div>

        </div>
    </div>
</div>


 
{% endfor %}

{% endblock main %}