{% extends 'theme/base.html' %}
{% load static %}

{% block title %}

{% endblock title %}


{% block main %}

<div class="container px-0 mancon">
    <h3 class="head1 ">My Shadi <span class="smallu">Find-Interact-love</span></h3>
    <div class="row">
        <div class="col-md-8 my-4">
            <div class="cardarea ">
                <div class="row">
                    <div class="col-md">
                        <a href="/all_profiles" style="text-decoration: none; border-color: #4f4f4f;">
                            <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/match.png' %}" class="card-img-top">
                             <div class="foooter">
                                Find Your Match
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/request.png' %}" class="card-img-top">
                            <div class="foooter">
                                Request & Interest
                            </div>
                        </div>
                    </div>


                    <div class="col-md">
                        <a href="/message">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/interact.png' %}" class="card-img-top">
                            <div class="foooter">
                                Interact Call & Message
                            </div>
                        </div>
                    </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/expert.png' %}" class="card-img-top">
                            <div class="foooter">
                                Expert Verification
                            </div>
                        </div>

                    </div>
                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/partner.png' %}" class="card-img-top">
                            <div class="foooter">
                                My Life Partner
                            </div>
                        </div>

                    </div>
                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/shop.png' %}" class="card-img-top">
                            <div class="foooter">
                                Shadi Shopping
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 profile-wid">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: {{ request.user.profile.calculate_profile_completion }}%;" aria-valuenow="{{ request.user.profile.calculate_profile_completion }}" aria-valuemin="0"
                    aria-valuemax="100">{{ request.user.profile.calculate_profile_completion }}%</div>
            </div>

            <div class="row">
                
                <ul class="list-group list-group-light">
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">Important Links</li>

                    <a href="/my_profile"><li class="list-group-item px-3 border-0 rounded-3 list-group-item-primary mb-2">My Profile</li></a>

                    <a href=""><li class="list-group-item px-3 border-0 rounded-3 list-group-item-secondary mb-2">Gallery</li></a>
                    
                    <a href=""><li class="list-group-item px-3 border-0 rounded-3 list-group-item-success mb-2">News</li></a>
                    <a href=""><li class="list-group-item px-3 border-0 rounded-3 list-group-item-danger mb-2">Offers</li></a>
                    <a href="/plans"><li class="list-group-item px-3 border-0 rounded-3 list-group-item-warning mb-2">My Plan</li></a>
                    <a href=""><li class="list-group-item px-3 border-0 rounded-3 list-group-item-info mb-2">wallet</li></a>
                    <a href="/message"><li class="list-group-item px-3 border-0 rounded-3 list-group-item-light mb-2">Message</li></a>
                    <a href=""><li class="list-group-item px-3 border-0 rounded-3 list-group-item-success mb-2">Connect</li></a>

                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-dark mb-2">Report</li>
                  </ul>
              

            </div>
           
                
                

        </div>
        </div>

    </div>
    <br>
</div>


{% if request.user.profile.calculate_profile_completion < 70 %}
<script>
    // jQuery is required for Bootstrap and MDB's JavaScript plugins
    $(document).ready(function () {
        // Auto launch the MDB modal when the page is loaded
        $('#exampleModal').modal('show');
    });
</script>
{% endif %}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="progress " style="height: 20px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ request.user.profile.calculate_profile_completion }}%;" aria-valuenow="{{ request.user.profile.calculate_profile_completion }}" aria-valuemin="0"
                    aria-valuemax="100">{{ request.user.profile.calculate_profile_completion }}%</div>
            </div>

            <h5 class="my-2">Your profile is only {{ request.user.profile.calculate_profile_completion }}% completed</h4>


            <h1>Please Complete Your Profile</h1>

        </div>
        <div class="modal-footer">
          <a href="/my_profile"> <button  type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-dismiss="modal">Complete Profile</button></a>

          <button type="button" class="btn btn-danger" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

{% endblock main %}