{% extends 'theme/base.html' %}
{% load static %}

{% block title %}

{% endblock title %}


{% block main %}

<div class="container px-0 mancon">
    <h3 class="head1 ">My Shadi <span class="smallu">Find-Interact-love</span></h3>
    <div class="row">
        <div class="col-md-8 my-4">
            <div class="cardarea ">
                <div class="row">
                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/match.png' %}" class="card-img-top">
                            <div class="foooter">
                                Find Your Match
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/request.png' %}" class="card-img-top">
                            <div class="foooter">
                                Request & Interest
                            </div>
                        </div>
                    </div>


                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/interact.png' %}" class="card-img-top">
                            <div class="foooter">
                                Interact Call & Message
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/expert.png' %}" class="card-img-top">
                            <div class="foooter">
                                Expert Verification
                            </div>
                        </div>

                    </div>
                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/partner.png' %}" class="card-img-top">
                            <div class="foooter">
                                My Life Partner
                            </div>
                        </div>

                    </div>
                    <div class="col-md">
                        <div class="card rounded-0 p-0 m-0 my-2">
                            <img src="{% static 'assets/images/shop.png' %}" class="card-img-top">
                            <div class="foooter">
                                Shadi Shopping
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 profile-wid">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>

            <div class="row">
                
                <ul class="list-group list-group-light">
                    <li class="list-group-item px-3 border-0 rounded-3 mb-2">Important Links</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-primary mb-2">My Profile</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-secondary mb-2">Gallery</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-success mb-2">News</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-danger mb-2">Offers</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-warning mb-2">My Plan</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-info mb-2">wallet</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-light mb-2">Message</li>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-success mb-2">Connect</li>

                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-dark mb-2">Report</li>
                  </ul>
              

            </div>
           
                
                

        </div>
        </div>

    </div>
    <br>
</div>


{% endblock main %}