{% extends 'theme/base.html' %}

{% block main %}



<div class="topbar sticky-top bg-light">
    <img src="{{user.media.dp.url}}" class="rounded-circle border" height="38" width="38" alt="" loading="lazy">
    <span class="h5" id="thread-user">{{user.username}}

    </span>
    <span class="fa fa-bars float-end" style="padding: 10px;"></span>
</div>
<div class="main-chat p-0 m-0">
    <br>
    <ul style="list-style: none;" id="message-list">
            {% for message in messages %}
            <!-- <li>[{{message.sender.username}}]: {{message.text}} -->
            {% if message.sender.username == request.user.username %}
            <br>
            <li><span class="thred" >{{message.text}}</span></li>
            <br>
            
            {% else %}
            <br>
            
            <li class="user">{{message.text}}</li>
            <br>
            
            {% endif %}

        
            
            
        {% endfor %}
        <!-- <li><span class="bg-light thred float-start" style="">thred</span></li> -->
        
    </ul>
</div>

<br>
<form id="message-form" class="sticky-bottom bg-light" >
    {% csrf_token %}
<div class="btn-send "><div class="input-group mb-3" style="padding: 5px;">
    
    <input type="text" name="message" id="message" required  class="form-control" placeholder="Type message here" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button value="Send"  class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
    
  </div></div>
</form>

<br>


<!-- chat script -->
<script>
    
    const host = window.location.hostname;

    const url = 'ws://'+host+':8000/ws' + window.location.pathname;
    console.log("path: ", url);
    const ws = new WebSocket(url)
    ws.onopen = function(event) {
        console.log("Connection is opened");
    }

    ws.onmessage = function(event) {
        console.log(event);
        console.log("Message is received");
        const ul = document.getElementById('message-list')
        
        var br1 = document.createElement('br')
        ul.append(br1);


        var li = document.createElement('li')

        var data = JSON.parse(event.data);
        li.append(document.createTextNode(
            //'[' + data.username + ']:' + data.text
            data.text
        ))

        var loggeduser ='{{request.user.username}}';

        if (data.username==loggeduser){
            li.className = 'thred';

            
        }
        else{
            li.className = 'user';

        }

        ul.append(li);

        var br2 = document.createElement('br')
        ul.append(br2);
    }

    ws.onclose = function(event) {
        console.log("Connection is closed");
        // setTimeout(() => {
        //     const newws = new WebSocket(url);
        // console.log("re connected");

        // },1000);
    }

    ws.onerror = function(event) {
        console.log("Something went wrong");
        
    }

    const messageForm = document.getElementById('message-form')
    messageForm.addEventListener('submit', sendMessage)
    function sendMessage(e) {
        if (e.preventDefault) e.preventDefault();
        ws.send(document.getElementById('message').value);
        messageForm.reset()
        return false;
    }
</script>
<!-- chat script -->

<style>
    
    ul{
        margin-left: -25px;
        margin-right: 10px;
    }
    .topbar{
        height: 50px;
        width: 100%;
        border-top: 1px solid #601e4f;
        border-bottom: 1px solid #601e4f;

        /* border-style: solid;
        border-color: #601e4f; */
        
        padding: 5px 11px;
    }

    .user{
        padding: 8px; border: 1px solid black; border-radius: 8px;
        float:  left;
        /* max-width: 80%;   */
        
        
    }

    .thred{
        padding: 8px; border: 1px solid black; border-radius: 8px;
        background-color: black;
        color: white;
        float: right;
        /* max-width: 80%; */

        
    }
    
</style>
   
{% endblock main %}
    