{% extends 'theme/base.html' %}

{% block title %}
    
{% endblock title %}


{% block main %}

<div class="container my-5 " style="border: 1px #000000 solid; ">
    <div class="container-fluid nav bg-light px-0 mx-0 "><center><h4 >{{reciverobj.first_name}}  {{reciverobj.last_name}}</h4></center></div>

      <div class="container-fluid my-5">
        
       
       {% for mm in  msgobjleft%}
       <br>
      
       <div class="left-chat float-start "><span class="bg-dark text-white" style="padding: 10px; border-radius: 10px;">{{mm.msg}}</span></div>
  
       <br>
       {% endfor %}
        
       
      
        
        {% for m in msgobj %}
        <br>
        <div class="right-chat float-end"><span class="bg-light " style="padding: 10px; border-radius: 10px; border: 1px black solid;">{{m.msg}}</span></div>
        <br>
        {% endfor %}
        
      </div>

    



      <div class="container">
        
            
                <form action="/chat/{{ reciverobj.id }}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input name="msg" type="text" class="form-control" placeholder="Write message " aria-label="Recipient's username" aria-describedby="button-addon2">
                        
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
                        
                    </div>
                </form>
            
    
    </div>
    
      

      
</div>
    


<script>

    const url='ws://localhost:8000/ws/chat/';

    const ws=new WebSocket(url)

    ws.onopen = function(event) {
        console.log('connect oppend');
        ws.send("thank you for connecting");
    }

    ws.onmessage = function(event) {
        console.log(event);
        console.log("Message is received");
    }

    ws.onclose = function(event) {
        console.log("Connection is closed");
    }

    ws.onerror = function(event) {
        console.log("Something went wrong");
    }



</script>
{% endblock main %}
    
    