{% extends 'staff/base.html' %}

{% block main %}


<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    



<div class="container" style="padding: 24px 35px;
background: #fff;">
<div class="alert alert-dark" role="alert">
    {{user.first_name}} {{user.last_name}}
  </div>
    <div class="row my-4">
        <form action="/staff/save_details" method="post">
            {% csrf_token %}
        <div class="col-md-12">
            <h3>Personal Details</h3>

            <div class="row my-2">
                <div class="col ">
                    <label for="gender">Gender</label>
                    <select id="gender" class="form-control" name="gender" >
                        <option selected>{{details.gender}}</option>
                        <option>Male</option>
                        <option>Female</option>
                        

                    </select>
                </div>

                <div class="col ">
                    <label for="regfor">Resister For</label>
                    <select id="regfor" class="form-control" name="regofor" >
                        <option selected>{{details.registerfor}}</option>
                        <option>Own</option>
                        <option>Brother</option>
                        <option>Sister</option>
                        <option>Friend</option>
                        <option value="Son"> Son</option>
                        <option value="Dougher">daughter</option>
                        <option>Other</option>


                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col ">
                    <label for="exampleInputEmail1">Mobile:</label>
                    <input value="{{details.mobile}}" type="number" name="mobile" class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" >
                </div>

                <div class="col ">
                    <label for="exampleInputEmail1">Marrital Status:</label>
                    <select id="inputState" class="form-control" name="mstatus">
                        <option selected>{{details.marrital_status}}</option>
                        <option>Single</option>
                        <option>In Process</option>
                        <option>On Hold</option>
                        <option>Married</option>

                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col ">
                    <label for="exampleInputEmail1">Date Of Birth:  </small></label>
                    <input value="{{details.dob|date:'Y-m-d'}}" required type="date" name="dob" class=" form-control"  id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>

                <div class="col ">
                    <label for="exampleInputEmail1">Income:
                        </label>
                    <input list="list-timezone" id="input-datalist" value="{{details.income}}" type="text" name="Income" class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" >

                        <datalist id="list-timezone">
                            
                            {% for income in incomelist %}
                            <option>{{income.range}}</option>
                            {% endfor %}
                                
                        
                        </datalist>

                        <script>
                            document.addEventListener('DOMContentLoaded', e => {
                                $('#input-datalist').autocomplete()
                            }, false);
                        </script>
                </div>
            </div>

            <div class="row">
               
                <div class="col">
                    <label for="exampleInputEmail1">Height:</label>
                    <input list="list-height" id="input-height" value="{{details.height}}" type="text" name="height" class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" >

                        <datalist id="list-height">

                            
                            {% for h in heightlist %}
                            <option>{{h.height}} </option>
                            {% endfor %}
                                
                            
                           
                            
                        </datalist>

                        <script>
                            document.addEventListener('DOMContentLoaded', e => {
                                $('#input-height').autocomplete()
                            }, false);
                        </script>
                </div>
                <div class="col ">
                    <label for="exampleInputEmail1">Color:</label>
                    <input list="list-color" id="input-color" value="{{details.color}}" type="text" name="color" class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" >

                        <datalist id="list-color">

                            
                            {% for c in colorlist %}
                            <option>{{c.color}} </option>
                            {% endfor %}
                                
                            
                           
                            
                        </datalist>

                        <script>
                            document.addEventListener('DOMContentLoaded', e => {
                                $('#input-color').autocomplete()
                            }, false);
                        </script>
                </div>
            </div>
          

            <div class="row">

                <div class="col-md">
                    <label title="you can select multiple" for="input-Qualification">Qualification:</label>
                   
                    <input  type="text" name="tags" value="{{details.Qualification}}"  id="input-Qualification" class="form-control" >
                    
                  </div>
                  
                  
                    
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
                  <script src="https://unpkg.com/@yaireo/tagify"></script>
                  <script src="https://unpkg.com/@yaireo/tagify@3.1.0/dist/tagify.polyfills.min.js"></script>
               
                <script>
                    // Define the list of allowed tags
                    var allowedTags = [{% for qual in Qualificationlist %} "{{qual.nameofQualification}}",{% endfor %}"Other"];
                
                    // The DOM element you wish to replace with Tagify
                    var input = document.querySelector('input[name=tags]');
                
                    // Initialize Tagify with the whitelist
                    new Tagify(input, {
                    whitelist: allowedTags,
                    // enforceWhitelist: true,
                    // editTags: 1,
                
                    });
                </script>

                  

                <!-- <div class="col-md ">
                    <label for="exampleInputEmail1">Qualification:</label>
                    <input list="list-Qualification" id="input-Qualification" value="{{details.Qualification}}" type="work" name="qualification" class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" >
                        <datalist id="list-Qualification">

                            
                            {% for q in Qualificationlist %}
                            <option>{{q.nameofQualification}} </option>
                            {% endfor %}
                                
                            
                           
                            
                        </datalist>

                        <script>
                            document.addEventListener('DOMContentLoaded', e => {
                                $('#input-Qualification').autocomplete()
                            }, false);
                        </script>
                </div> -->

             
           


                <div class="col-md ">
                    <label for="exampleInputEmail1">Work:</label>
                    <input list="list-work" id="input-work" value="{{details.work}}" type="work" name="work" class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" >

                        <datalist id="list-work">

                            
                            {% for w in worklist %}
                            <option>{{w.nameofwork}} </option>
                            {% endfor %}
                                
                            
                           
                            
                        </datalist>

                        <script>
                            document.addEventListener('DOMContentLoaded', e => {
                                $('#input-work').autocomplete()
                            }, false);
                        </script>
                </div>

                
            </div>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Experience:
                        </label>
                    <input list="list-exp" id="input-exp" value="{{details.experience}}" type="text" name="experience" class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" >

                        <datalist id="list-exp">

                            
                            {% for e in experiencelist %}
                            <option>{{e.experience}} </option>
                            {% endfor %}
                                
                            
                           
                            
                        </datalist>

                        <script>
                            document.addEventListener('DOMContentLoaded', e => {
                                $('#input-exp').autocomplete()
                            }, false);
                        </script>
                </div>

               

                <div class="col-md">
                    <label title="you can select multiple" for="input-Qualification">Hobbies:</label>
                   
                    <input  type="text" name="hobie" value="{{details.hobbies}}"  id="input-Qualification" class="form-control" >
                    
                  </div>
                  
                  
                    
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
                  <script src="https://unpkg.com/@yaireo/tagify"></script>
                  <script src="https://unpkg.com/@yaireo/tagify@3.1.0/dist/tagify.polyfills.min.js"></script>
               
                <script>
                    // Define the list of allowed tags
                    var allowedTags = [{% for qual in hobbieslist %} "{{qual.nameofhobbie}}",{% endfor %}"Other"];
                
                    // The DOM element you wish to replace with Tagify
                    var input = document.querySelector('input[name=hobie]');
                
                    // Initialize Tagify with the whitelist
                    new Tagify(input, {
                    whitelist: allowedTags,
                    // enforceWhitelist: true,
                    // editTags: 1,
                
                    });
                </script>

                  


                
            </div>
            <div class="row">


            


                <div class="col ">
                    <label for="exampleInputEmail1">Medical condition:</label>
                    <select id="inputState" class="form-control" name="medical_condition" >
                        <option selected>{{details.medical_condition}}</option>
                        <option>Good</option>
                        

                    </select>
                </div>


                <div class="col">
                    <label for="exampleInputEmail1">City
                        :</label>
                    <input  value="{{details.city}}" type="text" name="city"  class=" form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">


                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">About Me</label>
                <textarea class="form-control"  name="about" id="exampleFormControlTextarea1"
                    rows="3">{{details.about_me}}</textarea>
            </div>



            <!-- <input type="hidden" name="userid" value="{{User}}"> -->




        </div>

        <h3 class="my-2">Family Details</h3>
        <div class="row my-2">
            <div class="col-md ">
                <label for="exampleInputEmail1">Father_Name:</label>
                <input value="{{fdetails.father_name}}" type="text" name="father_name" class=" form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" >
            </div>

            <div class="col ">
                <label for="exampleInputEmail1"> Father_Education:</label>
                <input value="{{fdetails.father_education}}"  type="text" name="father_education" class=" form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" >
            </div>


            <div class="col ">
                <label for="exampleInputEmail1">Father_Occupation:</label>
                <input value="{{fdetails.father_occupation}}"  type="text" name="father_occupation" class=" form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" >
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <label for="exampleInputEmail1">Mother_Name:</label>
                <input value="{{fdetails.mother_name}}"  type="work" name="mother_name" class=" form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" >
            </div>

            <div class="col ">
                <label for="exampleInputEmail1">Mother_Education:</label>
                <input value="{{fdetails.mother_education}}"  type="work" name="mother_education" class=" form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" >
            </div>

            <div class="col ">
                <label for="exampleInputEmail1">Mother_Occupation:
                    :</label>
                <input value="{{fdetails.mother_occupation}}"  type="text" name="mother_occupation" class=" form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" >
            </div>
        </div>


        <div class="row">
            <div class="col-md">
                <label for="exampleFormControlTextarea1"> sister (if no type No):</label>
                <textarea class="form-control"  name="sister" id="exampleFormControlTextarea1"
                rows="3">{% if fdetails.sister %}{{fdetails.sister}}{% else %}Name : 
Education : 
Occupation:
Marital Status:{% endif %}</textarea>
            </div>

            <div class="col-md">
                <label for="exampleFormControlTextarea1"> Brother (if no type No):</label>
                <textarea class="form-control"  name="brother" id="exampleFormControlTextarea1"
                    rows="3">{% if fdetails.brother %}{{fdetails.brother}}{% else %}Name : 
Education : 
Occupation: 
Marital Status:{% endif %}
                    </textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <label for="exampleFormControlTextarea1"> Native_Place</label>
                <textarea class="form-control"  name="native_place" id="exampleFormControlTextarea1"
                    rows="5">{{fdetails.native_place}}</textarea>
            </div>

            

            <div class="col-md">
                <label for="exampleFormControlTextarea1"> Relatives</label>
                <textarea class="form-control"  name="relatives" id="exampleFormControlTextarea1"
                    rows="5">{{fdetails.relatives}}</textarea>
            </div>

        </div>

        <div class="row" >
            <div class="form-check checkbox-lg mx-5 my-3">
                <input type="checkbox" name="verify" class="form-check-input" id="exampleCheck1" {% if details.is_approved == True %}checked{% endif %}>
                <label class="form-check-label" for="exampleCheck1">verify and make approve</label>
              </div>
      
        </div>
        <div class="row">
            <div class="col-md my-5">
            <button type="submit" class="btn btn-primary " >Save All</button>
            <button onclick="window.location.href='/staff';" type="button" class="btn btn-danger " >Cancel</button>

             </div>
        </div>

        <input type="hidden" name="uid" value="{{uid}}">
        <input type="hidden" name="username" value="{{user.username}}">
        <input type="hidden" name="id" value="{{user.id}}">
        
        <input type="hidden" name="offcer" value="request.user">

    </form>
    </div>



</div>

</div>

<style>
    .checkbox-lg{
        font-size: 18px;
    }
    .checkbox-lg label{
        font-size: 18px;
    }
    .checkbox-lg input{
        font-size: 22px;
    }
</style>


{% endblock main %}